//* Box model*//div.news-block {	
width: 150px; 		
height: 50px; 		
padding: 5px;		
border: 2px solid #889;	
margin: 10px; 
}
//* CSS: Font Properties *//p {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 18px; 
font-style: italic;     //*normal, oblique, italic, inherit*//
font-weight: bold;
//* CSS: Text Properties *//
p {
text-align: center;  // left, right, center, justify, inherit.
text-decoration: underline;  // none, underline, line-through, …
text-indent: 20px; // can be set both inward and outward
text-transform: uppercase;  // uppercase, lowercase,  ..
letter-spacing: -0.5px; 
word-spacing: 1em;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);  }
//* For blocks*//
div.news-block {	
float: left;
width: 77px; 		
height: 50px; 		
padding: 10px;
border: 2px solid #889;
margin: 10px;}


.clear {clear:both}
img[src$=".jpg"],#bottom-block>p {display:none;}